export(cache_config)
export(list_ancestries)
export(list_traits)
export(list_files)
export(list_files_with_metadata)
export(open_trait)
export(read_lines)
export(build_key)
export(CacheConfig)
importFrom(methods, is)
importFrom(utils, URLencode)
importFrom(xml2, read_xml, xml_find_all, xml_find_first, xml_text)
